<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,viewport-fit=cover">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>前端技术文章 - front-end-rss | by ChanceYu</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script>
      var _hmt = _hmt || [];
      (function() {
        if (window.location.hostname === "fed.chanceyu.com") {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?4243ffc46a669f4d8ad72e24bcc5cf5a";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        }
      })();
    </script>

    <script>
      var RSS_DATA = <%= RSS_DATA %>;
      var TAGS_DATA = <%= TAGS_DATA %>;
      var HOTWORDS_DATA = <%= HOTWORDS_DATA %>;
      var TOTAL_COUNT = <%= TOTAL_COUNT %>;
      var PAGE_SIZE = <%= PAGE_SIZE %>;
      var PAGE_COUNT = <%= PAGE_COUNT %>;
    </script>
  </body>
</html>
